<?xml version="1.0" encoding="UTF-8"?>
<xml>


<word>
	<id>gameId</id>
	<string>5000</string>
</word>

<!-- sprak kan være no, se eller dk -->
<word>
	<id>sprak</id>
	<string>no</string>
</word>

<word>
	<id>brukerdataURL</id>
  	<string>http://www.andeby.dk/hostedgames/agens/listdata.aspx?listType=userinfo</string>
</word>

<word>
	<id>highscoreURL</id>
  	<string>http://www.andeby.dk/hostedgames/agens/listdata.aspx?listType=highscore</string>
</word>

<word>
	<id>postscoreURL</id>
  	<string>http://www.andeby.dk/hostedgames/agens/postdata.aspx?dataType=highscore</string>
</word>

<word>
	<id>tipsURL</id>
	<string>http://www.andeby.dk/hostedgames/agens/postdata.aspx?dataType=sendtip</string>
</word>

<word>
	<id>purchaseURL</id>
	<string>http://www.andeby.dk/hostedgames/agens/postdata.aspx?dataType=purchase</string>
</word>

<word>
	<id>achievementURL</id>
	<string>http://www.andeby.dk/hostedgames/agens/postdata.aspx?dataType=registerAchievement</string>
</word>


<word>
	<id>bliMedlemURL</id>
	<string>http://www.andeby.dk/default.aspx?section=newuser</string>
</word>

<word>
	<id>facebookURL</id>
	<string>http://www.facebook.com/AndebyNews</string>
</word>

<word>
	<id>facebookDeleURL</id>
	<string>http://www.andeby.dk/fb.aspx?type=100</string>
</word>

<word>
	<id>vare1Id</id>
	<string>9</string>
</word>

<word>
	<id>vare1Price</id>
	<string>300</string>
</word>

<word>
	<id>vare2Id</id>
	<string>10</string>
</word>

<word>
	<id>vare2Price</id>
	<string>500</string>
</word>

<!--- 1 Bronse -->
<word>
	<id>utmerkelse1Id</id>
	<string>1</string>
</word>

<word>
	<id>utmerkelse1Price</id>
	<string>100</string>
</word>

<!--- 2 Sølv -->

<word>
	<id>utmerkelse2Id</id>
	<string>2</string>
</word>

<word>
	<id>utmerkelse2Price</id>
	<string>200</string>
</word>
<!--- 3 Gull -->
<word>
	<id>utmerkelse3Id</id>
	<string>3</string>
</word>

<word>
	<id>utmerkelse3Price</id>
	<string>300</string>
</word>

<!--- Intro -->
<word>
	<id>HOPP OVER</id>
	<string>HOP OVER</string>
</word>
<word>
	<id>INTRO1</id>
	<string>Anders og nevøerne er rejst tilbage i tiden, til 1500-tallets Kina, for at undersøge historien om Wan Hu, verdens første astronaut.</string>
</word>
<word>
	<id>INTRO2</id>
	<string>Det må være Wan Hu!</string>
</word>
<word>
	<id>INTRO3</id>
	<string>I morgen skal jeg rejse til MÅNEN i min egen raketstol!</string>
</word>
<word>
	<id>INTRO3B</id>
	<string>HURRA!</string>
</word>
<word>
	<id>INTRO4</id>
	<string>På grund af en uheldig forveksling havner Anders i raketstolen...</string>
</word>


<!--- Startmeny -->

<word>
	<id>START</id>
	<string>START</string>
</word>

<word>
	<id>INSTRUKSJON</id>
	<string>INSTRUKTION</string>
</word>

<word>
	<id>BLI MEDLEM</id>
	<string>BLIV MEDLEM</string>
</word>

<word>
	<id>DAGENS BESTE</id>
	<string>DAGENS BEDSTE</string>
</word>

<word>
	<id>DONALD PÅ FACEBOOK</id>
	<string>ANDEBY PÅ FACEBOOK</string>
</word>




<!--- Instruksjon -->

<word>
	<id>SLIK SPILLER DU</id>
	<string>SÅDAN SPILLER DU</string>
</word>

<word>
	<id>Instruksjonstekst</id>
	<string>Fyr Anders så højt op som muligt i raketstolen!
MELLEMRUM for at starte.
HØJRE PIL for at svinge til HØJRE.
VENSTRE PIL for at svinge til VENSTRE.
MELLEMRUM for at tænde næste raket.
Du skal tænde næste raket før den forrige grænder ud!

Pas på fugle! Måske kan du få hjælp af en tordensky?
</string>
</word>

<word>
	<id>Instruksjon Medlemsinfo</id>
	<string>Hvis du er medlem af Andeby.dk kan du bruge dine Andeby-kroner til at købe ekstra raketter. Fyr den af!!</string>
</word>




<!--- Kjøpeskjerm -->

<word>
	<id>VAREINFO</id>
	<string>Ekstra raketter giver dig mulighed for at komme endnu højere op!
</string>
</word>

<word>
	<id>DEFAULT NAVN</id>
	<string>ANDERS AND</string>
</word>

<word>
	<id>DITT NAVN</id>
	<string>DIT NAVN</string>
</word>

<word>
	<id>MULIGE KJØP</id>
	<string>MULIGE KØB:</string>
</word>

<word>
	<id>VARENAVN1</id>
	<string>EKSTRA RAKETPAR</string>
</word>

<word>
	<id>VARENAVN2</id>
	<string>EKSTRA RAKETPAR</string>
</word>

<word>
	<id>Andeby-kroner</id>
	<string>Andeby-kroner</string>
</word>

<word>
	<id>KJØP</id>
	<string>KØB</string>
</word>

<word>
	<id>OK</id>
	<string>OK</string>
</word>

<word>
	<id>INSTRUKSJON</id>
	<string>INSTRUKTION</string>
</word>

<word>
	<id>Avbryt</id>
	<string>Afbryd</string>
</word>

<word>
	<id>UTMERKELSER</id>
	<string>Præmier - Spil og vind Andeby-kroner:</string>
</word>

<word>
	<id>UTMERKELSER TATT</id>
	<string>Præmier - du har vundet alle!</string>
</word>

<word>
	<id>BRONSEKRAV</id>
	<string>OVER
100 m</string>
</word>

<word>
	<id>BRONSEKRAV POENGVERDI</id>
	<string>100</string>
</word>

<word>
	<id>BRONSE GRATULASJON</id>
	<string>Du fik bronzemedalje og 100 Andebykroner!</string>
</word>

<word>
	<id>SOLVKRAV</id>
	<string>OVER
500 m</string>
</word>

<word>
	<id>SOLVKRAV POENGVERDI</id>
	<string>500</string>
</word>

<word>
	<id>SOLV GRATULASJON</id>
	<string>Du fik sølvmedalje og 200 Andebykroner!</string>
</word>

<word>
	<id>GULLKRAV</id>
	<string>OVER
1200 m</string>
</word>

<word>
	<id>GULLKRAV POENGVERDI</id>
	<string>1200</string>
</word>

<word>
	<id>GULL GRATULASJON</id>
	<string>Du fik guldmedalje og 300 Andebykroner!</string>
</word>



<!--- Kjøpesiden -->

<!-- Info på kjøpesiden - Tittel i bold -->
<word>
	<id>Valginfo1</id>
	<string>Ekstra objekter:</string>
</word>

<!-- Info på kjøpesiden - Hovedtekst -->
<word>
	<id>Valginfo2</id>
	<string>Aktivitet på Andeby.dk belønnes med Andeby-kroner. Du skal være logget ind på Andeby.dk for at bruge dine Andeby-kroner. Er du ikke medlem,</string>
</word>
<!-- Info på kjøpesiden - Lenke i blått til slutt -->
<word>
	<id>Valginfo3</id>
	<string>registrer dig her!</string>
</word>

<word>
	<id>Valginfo3URL</id>
	<string>http://www.andeby.dk/default.aspx?section=newuser</string>
</word>

<word>
	<id>DIN SALDO</id>
	<string>DIN SALDO</string>
</word>

<word>
	<id>AKR</id>
	<string>AKR</string>
</word>

<word>
	<id>Ikke pålogget</id>
	<string>Du skal være logget ind på Andeby.dk for at kunne købe.</string>
</word>

<word>
	<id>Ikke nok</id>
	<string>Du har ikke nok Andebykroner. Du kan tjene Andebykroner ved at ...</string>
</word>

<word>
	<id>Bekreft kjøp</id>
	<string>Er du sikker på at du vil købe dette? (Købet bliver gemt og du behøver ikke at købe igen senere.)</string>
</word>

	
	<!--- GAME -->

<word>
	<id>SPACE</id>
	<string>MELLEMRUM for at starte!</string>
</word>

<word>
	<id>SPACEHINT</id>
	<string>MELLEMRUM for at tænde næste raket!</string>
</word>

<word>
	<id>REKORD</id>
	<string>Rekord:</string>
</word>

<word>
	<id>NY REKORD</id>
	<string>Ny personlig rekord!</string>
</word>

<word>
	<id>HØYDE</id>
	<string>Højde:</string>
</word>


<!--- GAME OVER -->

<word>
	<id>SPILL IGJEN</id>
	<string>SPIL IGEN</string>
</word>

<word>
	<id>MENY</id>
	<string>MENU</string>
</word>

<word>
	<id>SPILLET ER OVER</id>
	<string>SPILLET ER SLUT</string>
</word>

<word>
	<id>DU KOM</id>
	<string>Du kom</string>
</word>

<word>
	<id>OPP</id>
	<string>op</string>
</word>

<word>
	<id>POENG</id>
	<string>Point:</string>
</word>

<word>
	<id>DEL DITT RESULTAT</id>
	<string>DEL DIT RESULTAT PÅ FACEBOOK</string>
</word>

<word>
	<id>TIPS EN VENN</id>
	<string>TIP EN VEN</string>
</word>

<word>
	<id>Tips en venn</id>
	<string>Tips en ven:</string>
</word>

<word>
	<id>Tips en venn-info</id>
	<string>Send et tip på mail til venner og bekendte!</string>
</word>

<word>
	<id>Ditt navn</id>
	<string>Dit navn:</string>
</word>

<word>
	<id>Din epost</id>
	<string>Din e-mailadresse:</string>
</word>

<word>
	<id>Venns epost</id>
	<string>Din venn e-mailadresse:</string>
</word>

<word>
	<id>SEND TIPS</id>
	<string>SEND TIP</string>
</word>

<word>
	<id>TILBAKE</id>
	<string>TILBAGE</string>
</word>

<word>
	<id>Tips sendt</id>
	<string>Tip sendt! Tip gerne flere!</string>
</word>

<word>
	<id>Tips error</id>
	<string>Alle felterne ovenfor skal udfyldes!</string>
</word>

</xml>
